name: neuroflex
description: A brain exercise application.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0
  # Step 2A: Adding the package here
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true
  # Step 2B: Telling Flutter about the assets folder
 

# Step 2C: Icon Configuration (Magic starts here)
flutter_launcher_icons:
  android: "launcher_icon"
  ios: true
  image_path: "assets/app_icon.png"
  min_sdk_android: 21 # Support for modern Android
  adaptive_icon_background: "#000000" # Black background for adaptive icons
  adaptive_icon_foreground: "assets/app_icon.png"
